@import "variables";
@import "media-query";
$text-color: #141414;

/*****************************************************/
/*  Base
/*****************************************************/
body {
    font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", sans-serif;
    font-size: .9em;

    line-height: 2em;

    color: $color-white;
}

.spacer {
    margin: auto;
}


/*****************************************************/
/*  Header
/*****************************************************/
.header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 74px;
    margin-bottom: 1px;

    background-color: $color-black;

    &__title {
        font-size: 2em;

        margin-left: $header-side-margin;

        text-align: center;
        letter-spacing: 3px;
    }

    // ヘッダーメニュー
    &__menu {
        @include mq-up(md) {
            height: 100%;
            margin-right: $header-side-margin;
            ul {
                display: flex;

                height: 100%;

                li {
                    font-size: 16px;

                    margin-left: 25px;

                    a {
                        position: relative;

                        display: block;

                        height: 100%;
                        line-height: 72px;

                        transition: .3s cubic-bezier(.33, 1, .68, 1);

                        &:hover {
                            color: #ff1787;

                            &::after {
                                width: 100%;
                            }
                        }

                        &::after {
                            position: absolute;
                            right: 0;
                            bottom: 24px;

                            display: block;

                            width: 0;
                            height: 1.5px;

                            content: "";
                            transition: .3s cubic-bezier(.33, 1, .68, 1);

                            background-color: #ff1787;
                        }
                    }
                }
            }
        }
        @include mq-down(md) {
            margin-right: $header-side-margin / 2;

            .burger-menu:not(.open) + ul {
                pointer-events: none;

                opacity: 0;

                li {
                    height: 40px;

                    transition: .3s;
                }
            }

            ul {
                position: fixed;
                z-index: 51;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                display: flex;
                flex-direction: column;

                padding: 80px 0;

                transition: .3s;

                border-bottom: solid 1px $color-white;
                background-color: $text-color;

                li {
                    font-size: 1.5em;

                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    justify-content: center;

                    transition: .3s;

                    a {
                        display: block;
                    }
                }
            }
        }
        li {
            text-align: center;
        }
    }
}

/*****************************************************/
/*  First View
/*****************************************************/
.fv {
    width: 100%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background: #dddddd url("../img/fv-bgi@2x.jpg") no-repeat center center;
    background-size: cover;

    h1 {
        font-size: 2em;

        margin: 0;

        text-align: center;

        @include mq-down(sm) {
            font-size: 5vw;
        }

        span {
            padding: 30px;

            letter-spacing: 3px;

            border: 1.5px solid $color-white;
        }
    }
}

/*****************************************************/
/*  Section Base
/*****************************************************/
section {
    margin: 80px;

    color: $text-color;

    @include mq-down(md) {
        margin-right: 20px;
        margin-left: 20px;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;

        margin: 40px 0;

        text-align: center;
    }

    h2 {
        font-size: 1.4em;
        font-weight: bold;

        line-height: 40px;
        margin: 30px 0;
    }
}

/*****************************************************/
/*  Service
/*****************************************************/
#service {
    .content {
        display: flex;

        margin: 20px 0 40px 0;

        @include mq-down(md) {
            flex-direction: column;

            &:nth-of-type(1) {
                flex-direction: column-reverse;
            }
        }
        column-gap: 50px;
        row-gap: 50px;

        h2 {
            margin-top: 0;
        }

        &__img {
            align-self: flex-start;

            width: 45%;
            height: auto;

            @include mq-down(md) {
                width: 100%;
                max-width: 500px;
            }
        }
        &__text {
            align-self: center;
        }
    }
}

/*****************************************************/
/*  News
/*****************************************************/
#news {
    .container {
        display: flex;

        max-width: 1100px;
        margin: auto;

        @include mq-down(md) {
            flex-direction: column;

            > * + * {
                margin-top: 60px;
            }
        }
        @include mq-up(md) {
            > * + * {
                margin-left: 20px;
            }
        }

        .card {
            flex-grow: 1;

            box-shadow: 0 0 3px black;

            @include mq-down(md) {
                width: 100%;
                max-width: 340px;
                margin-right: auto;
                margin-left: auto;
            }

            img {
                width: 100%;
            }

            p {
                margin: 30px;
            }
        }
    }
}

/*****************************************************/
/*  Contact
/*****************************************************/
#contact {
    margin-top: 120px;
    margin-bottom: 0;

    form {
        display: flex;
        flex-direction: column;

        width: 75%;
        margin: auto;

        @include mq-down(md) {
            width: 100%;
        }

        label {
            align-self: flex-start;

            margin-top: 30px;
        }
        input,
        textarea {
            margin-top: 10px;

            border: 1px solid;
            border-radius: 2px;
        }
        input {
            height: 32px;
        }
        button {
            font-size: 1.2em;
            font-weight: bold;

            width: 180px;
            height: 50px;
            margin: 30px auto;

            transition: .3s;
            text-align: center;

            color: white;
            border-radius: 25px;
            background-color: $color-black;
            box-shadow: 0 0 3px black;

            &:hover {
                color: black;
                border: 1px solid black;
                background-color: white;
                box-shadow: 0 0 3px black;
            }
        }
    }
}

/*****************************************************/
/*  Footer
/*****************************************************/
footer {
    height: 79px;

    background-color: $color-black;
    p {
        line-height: 79px;

        text-align: center;
    }
}